:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-txt-color: #212121;
  --secondary-txt-color: #757575;
  --third-txt-color: #ffffff;
  --logo-secondary-color: #000000;
  --dark-bg-color: #2f303a;
  --light-dark-bg-color: #c4c4c4;
  --light-bg-color: #f5f4fa;
  --lighter-bg-color: #eeeeee;
  --accent-color: #2196f3;
  --border-color: #ececec;
  --button-hover: #188ce8;
  --icons-color: #afb1b8;
}
